{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminHomeController!{% endblock %}

{% block body %}

        <h1 class="text-center">Bienvenu dans l'espace administrateur de Villa Maroc</h1>

                    
                

{% endblock %}