<form method="post" class="d-flex justify-content-end" action="{{ path('delete_booking', {'id': booking.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette réservation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="btn btn-danger  text-righ">Supprimer la réservation</button>
</form>
