{% extends 'base_admin.html.twig' %}

{% block title %}Edit Property{% endblock %}

{% block body %}
    

   <a href="{{ path('admin_property_index') }}" class="mb-4"><i class="align-middle fas fa-arrow-alt-circle-left"></i> <span class="align-middle">Revenir à la liste</span></a>

    {{ include('admin/admin_property/_form.html.twig', {'button_label': 'Editer'}) }}


    {# {{ include('admin_property/_delete_form.html.twig') }} #}
{% endblock %}
