 <header class="header">
      <!-- Navbar-->
      <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
        <div class="container-fluid">
          <div class="d-flex align-items-center"><a class="navbar-brand py-0 logo-villa" href=" {{path('home')}} ">Villa Marrakech  </a>
            
          </div>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
          <!-- Navbar Collapse -->
          <div class="collapse navbar-collapse" id="navbarCollapse">
           
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle " id="homeDropdownMenuLink" href="index.html" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Location</a>
                <div class="dropdown-menu" aria-labelledby="homeDropdownMenuLink">
                  <a class="dropdown-item" href="index.html">Nos villas</a>
                  <a class="dropdown-item" href="index-2.html">Nos appartements</a>
                  
                </div>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="homeDropdownMenuLink" href="index.html" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Stage de golf</a>
                <div class="dropdown-menu" aria-labelledby="homeDropdownMenuLink">
                  <a class="dropdown-item" href="index.html">Stage de 3 Jours</a>
                  <a class="dropdown-item" href="index-2.html">Stage d'une semaine</a>
                  
                </div>
              </li>
             
              <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a>
              </li>
              
              <li class="nav-item"><a class="nav-link" href="login.html">Sign in</a></li>
              <li class="nav-item"><a class="nav-link" href="signup.html">Sign up</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- /Navbar -->
    </header>